@page
@using ImageEndpoint.Core
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="https://localhost:7117/blobs/src/example.jpg"/>

<br />

<img width="200" height="200" src="@("https://localhost:7117/blob/example.jpg".WithImgConversion(200, 200, conversionType: ImageConverterConsts.ConversionTypes.Resize))" alt="Example image"/>

<br />
<img width="200" height="200" src="@("https://localhost:7117/blob/example.jpg".WithImgConversion(200, 200))" alt="Example image"/>

<br />
<br />
<br />

<img width="200" height="100" src="@("https://localhost:7117/blob/example.jpg".WithImgConversion(200, 100))" alt="Example image"/>


<img width="200" height="100" src="@("https://localhost:7117/blob/example.jpg".WithImgConversion(1000, 1000))" alt="Example image"/>


<img width="200" height="100" src="@("https://localhost:7117/blob/example.jpg".WithImgConversion(5000, 5000))" alt="Example image"/>
